<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MyApplication"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".TaskReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".PlancaWidgetSmallProvider"
            android:label="Planca (2x2)"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.planca.app.ACTION_TASK_COMPLETE" />
                <action android:name="com.planca.app.ACTION_ADD_TASK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/planca_widget_small_info" />
        </receiver>

        <receiver
            android:name=".PlancaWidgetMediumProvider"
            android:label="Planca (4x2)"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.planca.app.ACTION_TASK_COMPLETE" />
                <action android:name="com.planca.app.ACTION_ADD_TASK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/planca_widget_medium_info" />
        </receiver>

        <receiver
            android:name=".PlancaWidgetLargeProvider"
            android:label="Planca (4x4)"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.planca.app.ACTION_TASK_COMPLETE" />
                <action android:name="com.planca.app.ACTION_ADD_TASK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/planca_widget_large_info" />
        </receiver>
    </application>

</manifest>
